/** 
  *
  *  ESTILOS GERAIS 
  *
  **/

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    background-color: #fe7e02;
    padding: 10px 5px 10px 5px;
    color: white;
    text-align: center;
}

input {
    height: 20px;
    width: 500px;
}

button:focus {
    color: white;
}

img {
    width: 50px;
}

div>p:first-child {
    display: inline;
}

div img {
    background: black;
}

.botao-amarelo {
    background-color: #ffaf43;
    width: 250px;
    height: 40px;
    position: relative;
    top: 20%;
    left: -20%;
    border-radius: 5px;
    font-size: 20px;
    color: white;
}

.botao-amarelo:hover {
    background-color: #c44f00;
}

.container {
    height: 500px;
    text-align: center;
}

.icone {
    height: 15px;
}


/** 
  *
  *  ESTILOS HOME 
  *
  **/

#container-de-descricao {
    position: relative;
    text-align: center;
    background-color: #2274a5;
    color: white;
    height: 300px;
    width: 100%;
    margin: bottom;
}
#container-de-descricao>ol {
    text-align: center;
    position: relative;
    top: 30%;
    margin: 0 auto;
    list-style-type: decimal; list-style-position: inside;
}

#container-para-comprar {
    background-color: #e7eb90;
    text-align: center;
    width: 100%;
    margin: center;
}

#container-para-comprar>p {
    color: #c44f00;
    padding: 100px 0;
    font-size: 60px;
}


/**
  *
  *  ESTILOS COMPRAR 
  *
  **/

div:nth-child(2),
div:last-child {
    text-align: center;
}

table {
    width: 50%;
    height: -50%;
    margin: 0 auto;
}

td button {
    background-color: #fadf63;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    color: black;
}
td button:hover {
    background-color: #c44f00;
}
td button:active {
    background-color: #c44f00;
    text-transform: white;
}
.container-do-search {
    margin-top: 20px;
    height: 100px;
}
#search {
    width: 500px;
    height: 30px;
    border: none;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}
#buscar:hover {
    opacity: 0.4;
}


#back-button {
    background-color: white;
    width: 150px;
    height: 30px;
    border: 1px solid black;
    margin: 0 auto;
    font-size: 10px;
    color: black;
    position: relative;
    left: 42%;
}

#back-button:hover {
    background-color: #635a3d
}